<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener - History</title>
</head>
<body>
	<h1>URL Shortener - History</h1>
	{% if urls %}
		<ul>
			{% for url in urls %}
            
				<li><b><a href="{{ url.original_url }}">Original Url--</a></b>{{ url.original_url }}<b><br><a href="{{ url.short_url }}">Shorten Url--</a></b>{{ url.short_url }}</li>   
			{% endfor %}
        </ul>
	{% else %}
		<p>No URLs found in the database.</p>
	{% endif %}
	<a href="/">Back to home</a>
</body>
</html>
