<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        h1{
            color: white;
        }
        body{
            
            background-color: black;
        }
    </style>
</head>
<body>
    <center>
    <h1>URL Shortner Application</h1>
    <form action="{{ url_for('index') }}"  method="POST">
        <input type="text" name="url" placeholder="Enter the URL">
        <button type="submit">Shorten</button>
    </form>

    {% if short_url %}
        <p>Shortened URL: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
        {% set copy_button = '<button onclick="copyToClipboard(\'{}\')" target="_blank">Copy</button>'.format(short_url) %}
        {{ copy_button|safe }}
    {% endif %}
    </center>
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                .then(() => {
                    alert('Copied to clipboard!');
                })
                .catch((err) => {
                    console.error('Failed to copy: ', err);
                });
        }
    </script>

</body>
</html>